header {
    display: flex;
    justify-content: center;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1%;
  width: 98%;
  margin: 50px;
  padding: 1%;
  background-color: white;
  border: 1px;
  border-style: solid;
  border-color: black;
  box-shadow: 8px 8px 0px black;
}

.left-banner {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: black;
    width: 75%;
    box-shadow: 8px 8px 0px black;
}

.name {
    margin-left: 4%;
    font-size: 500%;
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow: 6px 6px 0px black;
    transform: scale(1, 1.3);
    display: inline-block
}

.right-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 85%;
    border: 4px;
    border-style: ridge;
    border-color: black;
}

.right-banner ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 75px;
}

.click-header {
    width: 60px;
}

.click-header:hover {
    transition: 0.2s;
    transform: scale(1.1);
}