header {
    display: flex;
    justify-content: center;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1%;
  width: 98%;
  margin: 50px;
  padding: 1%;
  background-color: white;
  border: 1px;
  border-style: solid;
  border-color: black;
  box-shadow: 8px 8px 0px black;
}

.left-banner {
    display: flex;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    width: 90%;
    box-shadow: 8px 8px 0px black;
    font-family: 'Courier New', monospace;
}

.left-banner p {
    margin: auto;
}

.name {
    margin-left: 4%;
    font-size: 200%;
    color: black;
    display: inline-block
}

.right-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 85%;
}

.right-banner ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.click-header {
    width: 40px;
    margin: 15px;
}

.click-header:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

.banner-ingenieria {
    background-color: #0d1117; /* El color oscuro de GitHub, muy pro */
    border: 1px solid #30363d;
    border-radius: 6px;
    padding: 40px;
    font-family: 'Courier New', monospace;
    color: #c9d1d9;
}

.user-prompt::before {
    content: "user@portfolio:~$ ";
    color: #7ee787; /* Verde consola */
}