html {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

body {
  background-size: 25px 25px;
  background-image:
  linear-gradient(to right, black 1px, transparent 1px),
  linear-gradient(to bottom, black 1px, transparent 1px);
}

main {
  display: flex;
  align-items: center;
}

.articles-header {
  display: flex;
  align-items: center;
}

.circles-container {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  gap: 20px;
}

.circle {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.left-aside-container {
    background-color: black;
    width: 25%;
    margin-left: 50px;
    margin-bottom: 30px;
    border: 1px;
    border-style: solid;
    border-color: black;
    box-shadow: 8px 8px 0px black;
    color: white;
}

.left-aside {
    display: flex;
    width: auto;    
    background-color: white;
    color: black;
    text-align: justify;
    justify-content: center;
    flex-wrap: wrap;
}

.articles-title {
    margin-left: 40px;
    font-size: 20px;
}

.left-aside p {
  margin: 20px;
  font-size: 15px;
}

.card {
  background-color: white;
  border: 1px;
  border-color: black;
  border-style: solid;
  width: 6rem;
  height: 4rem;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 40%;
}

.card:hover {
  transition: 0.3s;
  box-shadow: 5px 5px 0px black;
  transform: scale(1.05);
}

.medium-container {
  background-color: black;
  width: 30%;
}