html {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

body {
  background-size: 25px 25px;
  background-image:
  linear-gradient(to right, black 1px, transparent 1px),
  linear-gradient(to bottom, black 1px, transparent 1px);
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.left-column {
  justify-self: start;
  grid-column: 1;
}

.articles-header {
  display: flex;
  align-items: center;
}

.circles-container {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  gap: 20px;
}

.circle {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.article-container {
    background-color: black;
    width: 100%;
    margin-bottom: 30px;
    border: 1px;
    border-style: solid;
    border-color: black;
    box-shadow: 8px 8px 0px black;

    display: flex;
    flex-direction: column;
}

.aside {
    display: flex;
    width: auto;    
    background-color: white;
    color: black;
    text-align: justify;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}

.articles-title {
    margin-left: 40px;
    font-size: 20px;
    color: white;
}

.aside p {
  margin: 20px;
  font-size: 15px;
}

.card {
  background-color: white;
  border: 1px;
  border-color: black;
  border-style: solid;
  width: 6rem;
  height: 4rem;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 40%;
}

.card:hover {
  transition: 0.3s;
  box-shadow: 5px 5px 0px black;
  transform: scale(1.05);
}

.medium-container {
  background-color: black;
  grid-column: 2;
}

div img {
  width: 100%;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 14rem;
  height: 13rem;
  border: 1px;
  border-style: solid;
  border-color: white;
  color: black;

  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  pointer-events: auto;
}

.project-overlay span {
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
  border: 2px solid black;
  padding: 5px 10px;
}

.project:hover .project-overlay {
  opacity: 1;
}

.project img {
  width: 75%;
  height: 75%;
  object-fit: cover;
  display: block;
}

.project-footer {
  background-color: white;
  height: 3.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-overlay img {
  width: 2rem;
}

.project-overlay img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.right-column {
  justify-self: start;
  grid-column: 3;
}