body {
    background-color: rgb(41, 39, 39);
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-size: 150%;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

li {
    color: white;
    margin: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.elementoMenu:hover {
    display: flex;
    color: rgb(77, 77, 196);
    transition: 0.5s;
}

.contenedorBoton {
    text-align: center;
}

.botonCV {
    display: inline-block;
    color: white;
    background-color: transparent;
    border-color: white;
    border-style:double;
    padding: 0.5%;
    border-radius: 40%;
}

.botonCV:hover {
    background-color: rgb(77, 77, 196);
    transition: 0.5s;
}

.seccion {
    color: white;
    background-color: rgb(27, 25, 25);
    text-align: justify;
    padding: 2%;
    border-radius: 5%;
    margin: 5%; 
    transition: transform 0.3s ease;
}

.seccion:hover {
    transform: scale(1.05);
}